:root{
    --main-color: #36413E;
    --inside-text: #fff;
}
body{
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    max-width: 600px;
}
input{
    padding : 10px ;
    width: 100%;
    box-sizing: border-box;
    border:1px solid var(--main-color);
    margin-bottom: 4px;
}
button{
    background: var(--main-color);
    padding: 10px 20px;
    font-weight: bold;
    color: var(--inside-text);
    border: 1px solid var(--main-color);
}

#delete-btn{
    background: var(--inside-text);
    color: var(--main-color);
}
