body{
    margin: 0;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 400px;
    max-width: 600px;
}
input{
    padding : 10px ;
    width: 100%;
    box-sizing: border-box;
    border:1px solid #5f9341;
    margin-bottom: 4px;
}
button{
    background: #5f9341;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #5f9341;
}

#delete-btn{
    background: #ffffff;
    color: #5f9341;
}
